body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    margin: 0;
}

header {
    padding: 1rem;
}

main {
    padding: 1rem;
}

footer {
    padding: 1rem;
}

/* #TODO implement hamburger menu*/
nav {
  display: none;
}

aside {
  display: none;
}

/* Desktop layout */
@media screen and (min-width: 1280px) {
  body {
      display: grid;
      grid-template-rows: 120px 1fr;
  }

  header{
    display: flex;
    justify-content: space-between;
    top: 0;
  }

  nav {
    display: flex;
  }
  .top-nav{
      position: sticky;
      top: 60px;
      background-color: lightcyan;
  }
  .top-nav ul{
      display: flex;
      justify-content: space-around; 
      margin: 0;
  }
  .top-nav li {
      list-style: none;
      padding: 1em;
  }
  .top-nav a {
      text-decoration: none;
  }
  

}
